@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #252525;
  color: white;

  font-family: "Oswald", system-ui;
  font-weight: 300;
}

input {
  background-color: #252525;
  border: 1px solid white;
}

textarea {
  background-color: #252525;
  border: 1px solid white;
}
